<!DOCTYPE html>
<html>
 <head>
  <title>Contactx</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script>
   var accessToken = '{{ user_profile.access_token }}';
   var resume_url = '{{resume_url}}';

  </script>

  <script src="/static/app.js"></script>

  <link rel="stylesheet" href="/static/style.css" />
 </head>

 <body>
    <h1><a href="/">Contactx</a></h1>

    {% if not request.user.is_authenticated %}
    <p>Please sign in with one of these services to upload your resume</p>

    <ul id="auth">
    {% for service in services %}
        <li>
            <a href="/authenticate/{{ service.lower }}">
                {% if service.lower in profiles %}
                    <span class="check">&#10003;</span>
                {% endif %}
                {{ service }}
            </a>
        </li>
    {% endfor %}
    </ul>
    {%endif%}


    <div id="empowered">
     <a href="http://singly.com/"><img src="/static/empowered.png" /></a>
    </div>
    {% if request.user.is_authenticated %}
    <div id="access-token-wrapper">
        <p>Here's your access token for making API calls directly: <input type="text" id="access-token" value="{{ user_profile.access_token }}" /></p>
        <p>Profiles: <input type="text" id="access-token" value="{{ user_profile.profiles }}" /></p>
    </div>
    <ul id="twitter"></ul>


    <a href="/webapp/resume/upload">Upload your resume</a>
    <a href="/webapp/resume/view">View Current resume</a>

    {% endif %}

 </body>
</html>
